ICSharpCode.AvalonEdit/
*.pdb
*.vshost.exe
*.vshost.exe.config
*.suo
obj/
*.csproj.user
VfpProj/VfpProj.csproj.user
VfpProjEd.sln
*.vshost.exe.manifest
Lib/gdiplus.dll
Lib/msvcr70.dll
Lib/VFP8ENU.DLL
Lib/vfp8renu.dll
*.sdf
Lib/
*.FXP
*.exe
*.zip
*.csproj.user
*.app
VfpCmd/*.dll
*.opensdf
Lib/VfpProj.exe

VfpProj/App.config
Lib/VfpProj.exe.config
*.cfg
