<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="startDir" value="D:\Beta"/>
    <add key="startFxp" value="D:\Beta\start.fxp"/>
    <add key="formTop" value="10" />
    <add key="formLeft" value="800" />
  </appSettings>

</configuration>
