<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="startDir" value="D:\Beta" />
    <add key="startFxp" value="D:\Beta\start.fxp" />
    <add key="baseAddress" value="http://localhost:9001/VfpService" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="false"  />-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IVfpService" textEncoding="utf-8"
                 closeTimeout="00:10:03" transferMode="StreamedResponse" 
                 openTimeout="00:00:23"  receiveTimeout="00:10:08" 
                 sendTimeout="00:10:05" 
                 maxBufferSize="2483647" maxBufferPoolSize="2483647" maxReceivedMessageSize="2483647">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
          <readerQuotas maxStringContentLength="100000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9001/VfpService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IVfpService" contract="VfpService.IVfpService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
  </connectionStrings>
</configuration>