<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="startDir" value="D:\Beta"/>
    <add key="startFxp" value="D:\Beta\start.fxp"/>
    <add key="formTop" value="10"/>
    <add key="formLeft" value="800"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="baseAddress" value="http://localhost:9001/Vfp/"/>
  </appSettings>
  
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="false"  />-->
    <bindings>
      <!-- -->
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IVfpService" textEncoding="utf-8" closeTimeout="00:00:03" transferMode="StreamedResponse" openTimeout="00:00:03" receiveTimeout="00:00:08" sendTimeout="00:00:05" maxBufferSize="2483647" maxBufferPoolSize="2483647" maxReceivedMessageSize="2483647">

          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
          </security>
          <readerQuotas maxStringContentLength="100000"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="BasicHttpBinding_IVfpService">
          <textMessageEncoding messageVersion="None" maxReadPoolSize="8">
            <readerQuotas maxStringContentLength="100000"/>
          </textMessageEncoding>
          <httpTransport></httpTransport>
        </binding>
        <binding name="ContentBinding_IVfpIndex">
          <textMessageEncoding messageVersion="None" maxReadPoolSize="8">
            <readerQuotas maxStringContentLength="100000"/>
          </textMessageEncoding>
          <httpTransport></httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WebHtml">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="VfpProj.Wcf.VfpService" behaviorConfiguration="WebHtml">
        <!--binding="basicHttpBinding"-->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVfpService" contract="VfpProj.Wcf.IVfpService"/>
          <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
          <!--address="http://localhost:9001/VfpService"-->
      </service>
      <service name="VfpProj.Wcf.VfpIndex" behaviorConfiguration="WebHtml">
        <endpoint address="" binding="customBinding" bindingConfiguration="ContentBinding_IVfpIndex" contract="VfpProj.Wcf.IVfpIndex"/>
      </service>
    </services>

    <client>
      <endpoint address="http://localhost:9001/VfpService" binding="customBinding" bindingConfiguration="BasicHttpBinding_IVfpService" contract="VfpProj.Wcf.IVfpService"/>
      <endpoint address="http://localhost:9001/Vfp" binding="customBinding" bindingConfiguration="ContentBinding_IVfpIndex" contract="VfpProj.Wcf.IVfpIndex"/>
    </client>
    <!--<client>
      <endpoint address="http://localhost:9001/VfpService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVfpService"
                contract="VfpProj.Wcf.IVfpService" />
      
    </client>-->
  </system.serviceModel>
</configuration>
